.wrapper {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: #ddd;
}
      
.hidden {
  display: none;
}
